@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

:root {
	--main-bg: rgb(0, 0, 0);
	--main-txt: rgb(200, 200, 200);
}

html,
body {
	font-family: Lato, Arial;
	line-height: 1.5;
	background-color: var(--main-bg);
	color: var(--main-txt);
}

/* nav */

#navbar {
	position: fixed;
	padding: 10px;
	min-width: 300px;
	left: 0;
	top: 0;
	height: 100vh;
	border-right: 2px solid;
	border-right-color: grey;
}

@media (max-width: 650px) {
	#navbar {
		position: static;
		height: 40%;
		border: 0;
	}
}

footer {
	position: fixed;
	padding: 10px;
	min-width: 300px;
	left: 0;
	top: 500px;
	border-right: 2px solid;
	border-right-color: grey;
}

@media (max-width: 650px) {
	footer {
		position: static;
		border: 0;
	}
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	width: 64px;
	height: 64px;
	padding: 10px;
}

@media (max-width: 650px) {
	.social img {
		width: 32px;
		height: 32px;
	}
}

header {
	text-align: center;
	font-size: 25px;
}

#navbar a {
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
	color: var(--main-txt);
}

#navbar ul li {
	list-style: none;
	margin: 10px 0;
	text-align: center;
	background-color: var(--main-bg);
	border-radius: 5px;
	transition: .4s;
}

@media (max-width: 650px) {
	#navbar ul li {
		margin: 5px 0;
	}
}

#navbar ul li:hover,
#navbar ul li a:hover {
	color: var(--main-bg);
	background-color: var(--main-txt);
	cursor: pointer;
	border-radius: 5px;
}

#navbar ul li a {
	display: block;
}

/* /nav */

/* main */

#main-doc {
	position: absolute;
	left: 321px;
	padding: 10px;
	height: 100vh;
}

@media (max-width: 650px) {
	#main-doc {
		position: static;
		height: 60%;
	}
}

#main-doc header {
	text-align: left;
	border-bottom: 1px solid yellowgreen;
}

@media (max-width: 650px) {
	#main-doc header {
		text-align: center;
	}
}

.main-section p {
	padding: 10px 0;
}

.main-section code {
	font-size: 16px;
	border: 1px dashed var(--main-txt);
	padding: 0 4px;
	white-space: nowrap;
	color: mediumvioletred;
	border-radius: 3px;
}

.main-section ul {
	padding: 10px 15px;
}

.main-section ul li {
	margin: 5px;
}

ul li a {
	color: deepskyblue;
	text-decoration: none;
	transition: .4s;
}

ul li a:hover {
	color: dodgerblue;
}

.toTop {
	display: flex;
	justify-content: flex-end;
}

.top {
	padding: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	color: yellowgreen;
	border: 1px solid;
	border-radius: 5px;
}

/* /main */
